<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mizhanaka Store</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-topcancel">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Mizhanaka Store", "Index", "Paging", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @Html.Action("PgMenuView", "Paging");

                    @if (Request.IsAuthenticated)
                    {
                        <li> <a href=" /User/SignOut"> Sign Out </a> </li>
                    }
                    else
                    {
                        if (ViewBag.Title == "Login")
                        {
                            <li class="active"> <a href=" /User/LoginPage"> Login </a> </li>
                        }
                        else
                        {
                            <li> <a href=" /User/LoginPage"> Login </a> </li>
                        }

                    }
                    @if(Request.IsAuthenticated && User.IsInRole("User"))
                    {
                    <li> @Html.Action("AccNav", "User", new { area = "" })  </li>

                    }



                </ul>


                @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                {
                    <ul class="navbar-collapse collapse navbar-right adminarea">
                        <li>@Html.ActionLink("Admin Area", "Index", "AdminDashboard", new { area = "Admin" }, null) </li>
                    </ul>
                }
                else
                {

                    <ul class="navbar-collapse collapse navbar-right">
                        @Html.Action("ShoppingCartTop", "ShoppingCart")
                    </ul>

                }

            </div>
        </div>
    </div>
    <div class="container body-content">
        <div class="row">
            <div class=" col-xs-12 col-md-2">
                @Html.Action("CatMenu", "Store");
            </div>
            @if (ViewBag.SB == "True")
            {

                <div class=" col-xs-12 col-md-6">
                    @RenderBody()
                </div>
                <div class=" col-xs-12 col-md-3">
                    @Html.Action("SideBarView", "Paging")
                </div>
            }
            else
            {
                <div class=" col-xs-12 col-md-10">
                    @RenderBody()
                </div>
            }
        </div>

        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Mizhanaka.Ltd</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/scripts")
    @RenderSection("scripts", required: false)
</body>
</html>
